@import './components/_global/fonts';

.UIKit {
	font-family: $Helvetica;

	& h1 {
		font-family: $RobotoSlab;
		margin: 30px 0;
	}
	& h2,
	& h3 {
		font-family: $Roboto;
	}

	&__menu {
		margin: 50px 0 100px 0;
	}

	&__menu li {
		margin-bottom: 10px;
	}

	& fieldset {
		margin-bottom: 60px;
		padding: 0 30px 30px;
	}

	&__buttons .ButtonControl {
		margin-right: 30px;
	}

	&__checkboxes .CheckboxControl{
		margin-right: 40px;
	}

	&__switches .SwitchControl{
		margin-right: 40px;
	}

	&__inputs .InputControl{
		display: block;
		width: 300px;
		margin-bottom: 20px;
	}
}
