// ButtonControl colors

$crystal-color: #8BA6E4;
$sand-color: #ffce44;
$stone-color: #f9f8f3;
$sky-color: #7290CB;
$forest-color: #30c161;

//

$color-blue: #7290cb;
$color-grey: #f7f7f7;
$color-brightGreen: #30c161;
$color-lightGrey: #d0d0d0;
$color-darkGrey: #4b4b4b;
$color-red: #fb5f5f;
$color-error: #F5C7C7;
$color-white: #ffffff;
$color-black: #000000;
