@import '../_global/colors';
@import '../_global/mixins';
@import '../_global/fonts';

.RadioControl {
	display: inline-block;
	min-height: 0;
	padding-left: 0;
	margin: 0;
	color: #7d7d7d;
	vertical-align: top;

	&:hover {
		color: $color-darkGrey;
	}

	&:hover &-box {
		box-shadow: 0 0 0 1px $color-darkGrey;
	}

	&-label {
		display: inline-block;
		padding: 0 0 0 8px;
		vertical-align: top;
		margin-top: 1px;
		font: 400 14px/18px $Helvetica;
		transition: color 0.1s ease-out;
		cursor: pointer;
	}

	&-sublabel {
		display: inline-block;
		vertical-align: top;
		margin-right: 2px;
		font-size: 12px;
		font-style: italic;
		transition: color 0.1s ease-out;
	}

	&-input {
		opacity: 0;
		z-index: -1;
		position: absolute;
	}

	&-box {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin: 1px;
		box-sizing: border-box;
		border-radius: 100%;
		background: #fff;
		border: 2px solid #fff;
		box-shadow: 0 0 0 1px #BAB8B8;
		transition: all 0.1s ease-out;
		cursor: pointer;
	}

	&-input:checked ~ &-label {
		color: $color-darkGrey;
	}

	&-input:checked ~ &-box {
		background: rgb(114, 144, 203);
		box-shadow: 0 0 0 1px rgb(114, 144, 203);
	}

	&-input:focus ~ &-label {
		@include not-mobile {
			color: $color-darkGrey;
		}
	}

	&-input:disabled ~ &-box {
		cursor: not-allowed;
		box-shadow: 0 0 0 1px #ccc;
	}

	&-input:disabled ~ &-label,
	&-input:disabled ~ &-sublabel {
		color: #ccc;
		cursor: not-allowed;
	}
}
